body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #dbeafe, #f0f9ff);
    margin: 0;
    padding: 40px 15px;
}

.card {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    color: #1e3a8a;
}

p {
    color: #444;
    line-height: 1.6;
}

img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px; 
    margin: 15px 0;
    border: 4px solid #1e3a8a;
}


h2 {
    margin-top: 25px;
    color: #1e3a8a;
}

hr {
    border: none;
    height: 2px;
    background: #e5e7eb;
    margin: 20px 0;
}
